<div>
    <div class="col-xs-12">
        <div class="panel panel-defult">
            <div class="panel-body">
                <%= image_tag cat.thumb_image_of_the_cat, class: "img-thumbnail img-responsive" %>
            </div>
            <div class="panel-footer">
                Score: <%= cat.cuteness_score %>
            </div>  
        </div>
    </div>
</div>